.telegram-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-block {
    display: flex;
    align-items: center;
}

.media-block div {
    margin: 0 10px;
}

.telegram-link {
    color: #442638;
    text-decoration: none;
}

.telegram-icon {
    width: 30px;
    height: 30px;
    color: #301b28;
}

input[type="file"] {
    display: none;
}

.download-cv-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #ab4f08;
    padding: 10px;
    background-color: #301b28;
    border-radius: 20px;
}

@media screen and (max-width: 520px) {
    .cv-block {
        margin-bottom: 30px;
    }

    .telegram-section {
        display: flex;
        flex-direction: column-reverse;
    }
}